node_modules/
dist/
.env
.vscode/
.yarn/
*storybook.log
vercel-urls.json
.DS_Store

.env.egress.dev
.env.egress.prod

# ui
ui/src/index.css
storybook-static/

# server
services/server/*.pem
services/server/uploads/
services/server/coverage/
.vercel

# deployer
config.json

# radio
__whatsapp__
__telegram__

# studio
services/studio/build
services/studio/out
services/studio/session.json

# models
packages/models/coverage/

# web
apps/web/cypress/screenshots/

# landing
apps/landing/next-env.d.ts

# dashboard
apps/dashboard/tsconfig.*.tsbuildinfo
