node_modules/
dist/
.env
.vscode/
.yarn/
*storybook.log
vercel-urls.json
.DS_Store

# ui 
ui/src/index.css
storybook-static/

# server 
services/server/*.pem
services/server/uploads/
services/server/coverage/
.vercel

# apollo 
config.json

# radio
__whatsapp__
__telegram__

# studio
services/studio/build
services/studio/out