node_modules/
dist/
.env
.vscode/
.yarn/
*storybook.log
vercel-urls.json

# luna 
luna/src/index.css
storybook-static/

# server 
services/server/*.pem
services/server/uploads/
.vercel

# recorder
services/recorder/assets/
services/recorder/artifacts/